* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #29150a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1 {
  font-family: 'garamond';
  font-size: 30px;
  color: beige;
  text-align: left;
  position: absolute;
  top: 20px;
  left: 20px;
}

h2 {
  font-family: 'garamond';
  font-size: 24px;
  color: beige;
  text-align: center;
}

menu-container {
  text-align: center;
  margin-top: 20px;
}

button {
  font-family: 'garamond';
  font-size: 16px;
  color: beige;
  border: none;
  background: none;
  /* padding: 10px 20px; */
  /* text-align: center; */
  /* text-decoration: none; */
  /* margin: 4px 2px; */
  cursor: pointer;
}
p {
    font-family: 'garamond';
    font-size: 20px;
    color: beige;
    text-align: center;
}

img {
  transform: rotate(90deg); 
  padding: 1px;
  display: block;
  margin: auto;
  width: 50%;
}

/*
Source - https://stackoverflow.com/a/43966051
Posted by Vadim Ovchinnikov
Retrieved 2026-09-14, License - CC BY-SA 3.0
*/

.flex {
  display: flex;
  justify-content: right;
}

.flex-item + .flex-item {
  margin-left: 10px;
}

.back-video {
  position: absolute;
  right: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  rotate: 180deg;
}

/* @media (min-aspect-ratio: 16/9){
  .back-video{
    width: auto;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  .back-video{
    width: auto;
    height: auto;
  }
} */