h1 {
  font-family: 'arial';
  font-size: 30px;
  /* color: #764646; */
  text-align: center;
}

h2 {
  font-family: 'arial';
  font-size: 24px;
  /* color: #764646; */
  text-align: center;
}

menu-container {
  text-align: center;
  margin-top: 20px;
}

button {
  font-family: 'arial';
  font-size: 16px;
  /* background-color: #764646; */
  /* color: beige; */
  /* border: none; */
  /* padding: 10px 20px; */
  /* text-align: center; */
  /* text-decoration: none;
  display: inline-block; */
  /* margin: 4px 2px; */
  cursor: pointer;
}
p {
    font-family: 'arial';
    font-size: 20px;
    /* color: #764646; */
    text-align: center;
}

img {
  transform: rotate(90deg); 
  padding: 1px;
  display: block;
  margin: auto;
  width: 50%;
}

/*
Source - https://stackoverflow.com/a/43966051
Posted by Vadim Ovchinnikov
Retrieved 2026-09-14, License - CC BY-SA 3.0
*/

.flex {
  display: flex;
  justify-content: center;
}

.flex-item + .flex-item {
  margin-left: 10px;
}